*{
    margin: 0;
}
html,body{
    overflow: hidden;
    --gray: hsl(240, 9%, 89%);
    --black: hsl(240, 6%, 13%);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body{
    display: grid;
    place-items: center;
    background-image: url(images/new.jpg) !important;
}

main{
    margin-top: 120px;
    background-image: url(images/background2.png) !important;
    width: 375px;
    height: 812px;
    z-index: 5;
}

.container{
    max-width: 250px;
    margin: 0 auto;
    text-align: center;

    color: var(--gray);
}

.avatar{
    width: 10rem;
    margin: 11.5rem auto 0;

    /* relative limita o absolute que estiver dentro  dele */
    position: relative;
}

.avatar span{
    position: absolute;
    top: -15px;
    z-index: 1;
}

/* ira estilizar somente imagens que estiverem no  primeiro nivel de hierarquia  */
.avatar > img{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
}

h1{
    font-size: 1.5rem;

    margin-top: 1.5rem;
}

a{
    color: var(--gray);
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;

    margin-top: 0.25rem;
}

p{
    margin-top: 2rem;
}

ul{
    margin-top: 4rem;

    list-style: none;
    padding: 0;

    display: flex;
    gap: 0.5rem;
    justify-content: center;
}



.squares li{
    border-radius: 150px;
    width: 40px;
    height: 40px;
    background-color: rgba(174, 0, 255, 0.356);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    /*animation-direction: reverse;*/
    /*animation-direction: alternate;*/
    z-index: 2;
    margin: auto -300px -90px -90px ;
  }
  
  @keyframes up{
    from{
      transform: translateY(0);
    } 
    to{
      transform: translateY(-1200px);
    }
  }